.DS_Store
node_modules
.nuxt
.vscode
.output
.nitro
dist
server/services/scripts
playground

.env
.env.local
.env.production
notes
server/services/StorageService/credentials.json

audios
# Local Netlify folder
.netlify
